<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="DBConnection" value="Data Source=localhost;Initial Catalog=wechat_new;user Id=sa;password=WangHang@1234"/>
    <add key="DBConnection2" value="Data Source=localhost;Initial Catalog=e_comm;user Id=sa;password=WangHang@1234"/>
    <add key="wxurl" value="https://wxuat.dulux.com.cn"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.serviceModel>
    <!--<bindings>
      <webHttpBinding >
        <binding name="SecureWebBinding" >
          <security mode="Transport">
            <transport clientCredentialType="None"></transport>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>-->
    <services>
      <service name="WXService.wccmemberService" behaviorConfiguration="RESTBehaviour">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="WXService.IwccmemberService"
                  behaviorConfiguration="ESEndPointBehavior"/>
        <!--<endpoint address=""
                 binding="webHttpBinding"
                 bindingConfiguration="SecureWebBinding"
                 contract="WXService.IwccmemberService"
                 behaviorConfiguration="ESEndPointBehavior"/>-->

        <!--<endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>-->
      </service>
        <service name="WXService.UpdatememberService" behaviorConfiguration="RESTBehaviour">
          <endpoint address=""
                    binding="webHttpBinding"
                    contract="WXService.IUpdatememberService"
                    behaviorConfiguration="ESEndPointBehavior"/>
          <!--<endpoint address=""
                 binding="webHttpBinding"
                 bindingConfiguration="SecureWebBinding"
                 contract="WXService.IwccmemberService"
                 behaviorConfiguration="ESEndPointBehavior"/>-->

          <!--<endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>-->
        </service>
      <service name="WXService.TemplateService" behaviorConfiguration="RESTBehaviour">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="WXService.ITemplateService"
                  behaviorConfiguration="ESEndPointBehavior"/>
        <!--<endpoint address=""
                 binding="webHttpBinding"
                 bindingConfiguration="SecureWebBinding"
                 contract="WXService.ITemplateService"
                 behaviorConfiguration="ESEndPointBehavior"/>

        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>-->
      </service>
      <service name="WXService.QRcodeService" behaviorConfiguration="RESTBehaviour">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="WXService.IQRcodeService"
                  behaviorConfiguration="ESEndPointBehavior"/>
        <!--<endpoint address=""
               binding="webHttpBinding"
               bindingConfiguration="SecureWebBinding"
               contract="WXService.IQRcodeService"
               behaviorConfiguration="ESEndPointBehavior"/>

        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>-->
      </service>
      <service name="WXService.AQRcodeService" behaviorConfiguration="RESTBehaviour">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="WXService.IAQRcodeService"
                  behaviorConfiguration="ESEndPointBehavior"/>
        <!--<endpoint address=""
               binding="webHttpBinding"
               bindingConfiguration="SecureWebBinding"
               contract="WXService.IQRcodeService"
               behaviorConfiguration="ESEndPointBehavior"/>

        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>-->
      </service>
    <service name="WXService.BarcodeService" behaviorConfiguration="RESTBehaviour">
        <endpoint address=""
                  binding="webHttpBinding"
                  contract="WXService.IBarcodeService"
                  behaviorConfiguration="ESEndPointBehavior"/>
        <!--<endpoint address=""
                 binding="webHttpBinding"
                 bindingConfiguration="SecureWebBinding"
                 contract="WXService.IwccmemberService"
                 behaviorConfiguration="ESEndPointBehavior"/>-->

        <!--<endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange"/>-->
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="RESTBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceAuthorization
     serviceAuthorizationManagerType  
        =" WXService.RestAuthorizationManager,WXService"/>
        </behavior>

        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ESEndPointBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules>
      <add name="WcfReadEntityBodyModeWorkaroundModule" type="WXService.WcfReadEntityBodyModeWorkaroundModule,WXService"/>
    </modules>  
    <!--
      To browse web app root directory during debugging, set the value below to true.
      Set to false before deployment to avoid disclosing web app folder information.
    -->
    <directoryBrowse enabled="true"/>
    <!--modules runAllManagedModulesForAllRequests="true"/-->
  </system.webServer>

</configuration>